<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- Login with existing account -->
      <h1>Login Form</h1>
      <input placeholder="Email" v-model="loginEmailInput" />
      <input
        type="password"
        placeholder="Password"
        v-model="loginPasswordInput"
      />

      <button @click="postSession()">Login</button>

      <!-- Creating a new account -->
      <h1>Registration Form</h1>
      <input placeholder="New Email..." v-model="newEmailInput" />
      <input
        type="password"
        placeholder="New Password..."
        v-model="newPasswordInput"
      />
      <input placeholder="Full Name" v-model="newFullnameInput" />
      <button @click="postUser()">Create New User</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
