<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Login Form</h1>

      <!-- Login with existing account -->
      <button @click="setupPage('login')">Login</button>
      <div v-else-if="page == 'login'">
        <h1>Sign In</h1>
        <input placeholder="Email" v-model="loginEmailInput" />
        <input
          type="password"
          placeholder="Password"
          v-model="loginPasswordInput"
        />

        <button @click="postSession()">Sign in</button>
      </div>

      <!-- Creating a new account -->
      <button @click="setupPage('register')">Create New Account</button>
      <div v-else-if="page == 'register'">
        <h1>Register An Account</h1>
        <input placeholder="New Email..." v-model="newEmailInput" />
        <input
          type="password"
          placeholder="New Password..."
          v-model="newPasswordInput"
        />
        <input placeholder="Full Name" v-model="newFullnameInput" />
        <button @click="postUser()">Register</button>
      </div>

      <!-- Thread page - displays a single thread, along with comments -->
      <div v-else-if="page == 'thread'">
        <h1>{{ currentThread.name }}</h1>
        <div v-for="post in currentThread.post"
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
